body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('http://e2ua.com/data/wallpapers/42/WDF_894369.jpg');
  color: red;
}
/*forms for both pages*/
 #formAppointment{
   border: 10px dotted #251730;
   height: 500px;
   width: 700px;
   background-color:#4DA8DA;
   margin: auto;
   /*text-align: center;
   display:inline-table;
   font-size: 30px;
  position: fixed;*/
 }
 #formAppointment div{
   text-align: left;
   color: white;
   padding: 10px;
 }
/*image for index page*/
 img{
   height: 800px;
   width: 200px;
   /*position:fixed;
   margin: 0 auto;*/
 }
/*header for both pages*/
h1{
  font-size: 50px;
  color: white;
  text-align: center;
}


a {
  color: #00B7FF;
}

/*img for second page*/
#img{
  margin-left:900px;
  height: 800px;
  width: 200px;
  position: fixed;
}
